@*/*
        Orris Disney II
        C# Inventory Project
        July 2018

        Definition of a View
        View is a user interface. View displays data from the model to the user and also enables them to modify the data

        This is for the Item Add Item page.  This will setup the form to gather information from the user to add

        The majority of the page layout is stored in the Shared/_Layout.cshtml file
*/*@

@model Inventory.Models.ItemViewModel
@{
    var isEditMode = Model.ItemId != null;
    ViewBag.Title = isEditMode ? "Edit " + Model.DisplayName : "Add Item";
}

<h2>@Model.DisplayName </h2>

<h3>@(isEditMode ? "Edit an " : "Adding an ") Inventory Item</h3>

<br />

<div class="row">
    <div class="col-sm-6 col-xs-10">
        @using (Html.BeginForm(isEditMode ? "EditItem" : "AddItem", "Item"))
        {
            @Html.HiddenFor(m => m.ItemId)

            <div class="form-group">
                @Html.LabelFor(m => m.DisplayName)
                @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label for="ItemType_ItemTypeID">Item Type</label>
                @Html.DropDownListFor(i => i.ItemType.ItemTypeId, ViewBag.ItemTypes as IEnumerable<SelectListItem>, "... Select a Item Type...", new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ItemNotes)
                @Html.TextBoxFor(m => m.ItemNotes, new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-primary">@(isEditMode ? "Save" : "Add")</button>
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
        }
    </div>
</div>

