@*/*
        Orris Disney II
        C# Inventory Project
        July 2018

        Definition of a View
        View is a user interface. View displays data from the model to the user and also enables them to modify the data

        This is for the Item View Detail page.  This will show the data for the specific item that the user clicked on

        The majority of the page layout is stored in the Shared/_Layout.cshtml file
*/*@

@model Inventory.Models.ItemViewModel
@{
    ViewBag.Title = "Item Detail";
}

<h2>@Model.DisplayName</h2>

<div class="row">
    <div class="col-sm-12 form-group">
        @Html.LabelFor(m => m.DisplayName)
        <br />
        @Html.DisplayFor(m => m.DisplayName)
    </div>

    <div class="col-sm-12 form-group">
        @Html.LabelFor(m => m.ItemType.ItemTypeDisplayName)
        <br />
        @Html.DisplayFor(m => m.ItemType.ItemTypeDisplayName)
    </div>

    <div class="col-sm-12 form-group">
        @Html.LabelFor(m => m.ItemNotes)
        <br />
        @Html.DisplayFor(m => m.ItemNotes)
    </div>

    <div class="col-sm-12">
        @Html.ActionLink("Done", "Index", null, new { @class = "btn btn-primary" })
    </div>
</div>

